nav {
  background-color: #c2efd4;
}
.badges {
  top: 19px !important;
  left: 16px !important;
  background-color: #10ff70 !important;
}

.header {
  background-color: #c2efd4;
  padding-top: 100px;
  padding-bottom: 60px;
}
.header h2 {
  width: 400px;
  font-size: 50px;
  padding-top: 30px;
}
.images {
  background-color: #c2efd4;
}
.selling {
  margin-top: 80px;
}
.sell span:first-child::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 1px;
  background-color: black;
  top: 3px;
  right: 170px;
}
.our-product span:first-child::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 1px;
  background-color: black;
  top: 3px;
  right: 127px;
}
.hot::before {
  top: 26px;
  content: "";
  position: absolute;
  height: 2px;
  width: 31px;
  background-color: #224f34;
}
ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
::placeholder {
  color: white;
}
